{% extends "rest_framework/base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-primary">Bienvenido a mi API</h1>
    <p class="text-secondary">Navega por los endpoints disponibles:</p>
    <ul class="list-group">
        {% for key, url in data.items %}
        <li class="list-group-item">
            <a href="{{ url }}" class="btn btn-link">{{ key }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="mt-3">
        <a class="btn btn-success" href="/projects/">Proyectos</a>
    </div>
</div>
{% endblock %}